.recipe-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  width: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-clip: border-box;
  margin: 1rem, 2rem;
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 400px;
  background-color: #ffc34d;
}

.recipe-name {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3px;
}

.recipe-image {
  max-height: 50vh;
  max-width: 50vw;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.recipe-description {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}

.recipe-card-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  min-height: 15%;
}

.recipe-from-text {
  margin-top: 1px;
  font-size: 2rem;
  font-weight: 550;
}

.username-text {
  font-size: 2rem;
  font-weight: 550;
}

.recipe-card-bottom > button {
  width: 100%;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  margin-top: 2px;
}

.update-recipe-button {
  background-color: #3cbb41;
}

.delete-recipe-button {
  background-color: rgb(255, 72, 0);
}

.recipe-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
