* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 3px;
}

.App {
  font-family: "Dancing Script", cursive;
  background-color: #ffc34d;
  /* background-image: url(https://cdn.wallpapersafari.com/85/26/8WfUu4.jpg); */
}

/* button {
  border: 5px solid #f1dab8;
} */

/* .submit {
  margin-top: 10px;
  position: relative;
  display: solid;
  z-index: 1000;
} */


