body {
  margin: 0;
  font-family: "Dancing Script", cursive;
  background-color: #ffc34d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Dancing Script", cursive;
  background-color: #ffc34d;
}
