.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-username-input {
  width: 80%;
  padding: 10px 17px;
  margin: 10px 10px;
  box-sizing: border-box;
  justify-content: center;
  align-content: center;
  margin: 0 10% 0 10%;
}

.login-password-input {
  width: 80%;
  padding: 10px 17px;
  margin: 10px 10px;
  box-sizing: border-box;
  justify-content: center;
  align-content: center;
  margin: 0 10% 0 10%;
}

.login-button {
  width: 60%;
  padding: 10px 17px;
  margin: 10px 10px;
  box-sizing: border-box;
  justify-content: center;
  align-content: center;
  margin: 0 10% 0 10%;
  background-color: rgb(177, 114, 20);
}

.new-user-link {
  margin: 0 auto;
  display: block;
  text-align: center;
}
