.new-recipe-ingredient-form-head {
  font-size: 1.5rem;
  font-weight: bold;
}

.new-recipe-ingredient-form {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.new-recipe-ingredient-input-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.new-recipe-ingredient-input-container > label {
  width: 60%;
}

.new-recipe-ingredient-input {
  width: 35%;
  padding: 5px;
  margin: 10px;
  box-sizing: border-box;
  background-color: #ffc34d;
}

.new-recipe-amount {
  width: 10%;
}

.new-recipe-unit {
  width: 15%;
}

.new-recipe-ingredient-select {
  width: 20%;
}

.new-recipe-prep-notes {
  width: 30%;
}

.add-recipe-ingredient-button {
  padding: 3px;
  background-color: rgb(99, 146, 11);
  font-weight: 500;
  width: 11%;
}

.new-recipe-amount > label {
  width: 50%;
}

.new-recipe-amount > input {
  width: 50%;
}

.new-recipe-unit > label {
  width: 35%;
}

.new-recipe-unit > select {
  width: 60%;
}

.new-recipe-prep-notes > label {
  width: 40%;
}

.new-recipe-prep-notes > input {
  width: 55%;
}

select {
  padding: 5px;
  background-color: #ffc34d;
}
