.ingredient-card {
  position: relative;
  text-align: center;
  width: 65%;
  height: 85%;
  background: white;
  border-radius: 5%;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 5px 6px #353333;
  background-color: rgb(236, 181, 97);
  justify-items: center;
}

.ingredient-name {
  /* padding-left: 15px; */
  background-color: rgb(236, 181, 97);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
}

.ingredient-image {
  max-height: 15vh;
  /* max-width: 10vw; */
}
