.update-recipe-ingredient-form-head {
  font-size: 1.5rem;
  font-weight: bold;
}
.update-recipe-ingredient-form {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-evenly;
}

.update-recipe-ingredient-input-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.update-recipe-ingredient-input {
  padding: 5px;
  margin: 10px;
  box-sizing: border-box;
  background-color: #ffc34d;
}

.update-recipe-amount {
  width: 15%;
}

.update-recipe-amount > label {
  width: 48%;
}

.update-recipe-amount > input {
  width: 32%;
}

.update-recipe-unit {
  width: 13%;
  margin-right: 0.5rem;
}

.update-recipe-unit > label {
  width: 35%;
}

.update-recipe-unit > select {
  width: 55%;
}

.update-recipe-ingredient-select {
  width: 22%;
}

.update-recipe-prep-notes {
  width: 35%;
  margin-left: 1rem;
}

.update-recipe-prep-notes > label {
  width: 35%;
}

.update-recipe-prep-notes > input {
  width: 70%;
}

.add-recipe-ingredient-button {
  padding: 3px;
  background-color: rgb(99, 146, 11);
  font-size: 0.87rem;
  font-weight: 550;
  font-style: italic;
  width: 13%;
}

select {
  padding: 5px;
  background-color: #ffc34d;
}
