.update-recipe-ingredient-form-head {
  font-size: 1.5rem;
  font-weight: bold;
}
.update-recipe-ingredient-form {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.update-recipe-ingredient-input-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.update-recipe-ingredient-form > label {
  width: 60%;
}

.update-recipe-ingredient-input {
  width: 35%;
  padding: 5px;
  margin: 10px;
  box-sizing: border-box;
  background-color: #ffc34d;
}

.update-recipe-unit {
  width: 20%;
}

select {
  padding: 5px;
  background-color: #ffc34d;
}

.update-add-recipe-ingredient-button {
  padding: 5px;
  background-color: rgb(99, 146, 11);
  font-weight: 500;
}
