.recipe-ingredient {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  width: 30rem;
  margin: 1rem 0;
}

.recipe-ingredient-img {
  max-width: 6rem;
}

.recipe-ingredient-text {
  margin-left: 1rem;
  font-size: 2rem;
}
