.recipe-ingredient {
  padding: 1rem;
}

.new-recipe-ingredient-img {
  padding: 0rem;
}

.new-recipe-ingredient-text {
  padding: 0rem;
}

.new-recipe-ingredient-prep-notes-text {
    padding: 0rem;
    font-style: italic;
}

.recipe-ingredient-delete-button {
  background-color: rgb(146, 11, 11);
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-left: auto;
  margin-right: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}
