.new-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.new-user-container > form {
  width: 375px;
  height: 250px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.new-user-input-container {
  width: 100%;
  transform: translateX(-53px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.new-user-input-container > label {
  width: 25%;
}

.new-user-input {
  width: 70%;
  padding: 10px 17px;
  margin-left: 10px;
  background-color: #ffc34d;
}

.submit-new-user-button {
  width: 60%;
  padding: 10px 17px;
  margin: 10px 10px;
  margin: 0 10% 0 10%;
  background-color: rgb(177, 114, 20);
  font-weight: bolder;
}

.new-user-head {
  font-size: 3rem;
  padding-top: 1rem;
}

.new-user-sub-title {
  font-size: 2rem;
  padding-top: 1rem;
}
